* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 350px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h2, h4, h1, h3 {
  text-align: center;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.money {
  font-size: 18px;
}

.money.plus {
  color: green;
}

.money.minus {
  color: red;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.list li {
  background: #f2f2f2;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  border-right: 5px solid;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: #555;
}
